Fonction deplacement.

In [13]:
import numpy as np
import pandas as pd
def fonction_g_discrete(choix_angle,v):
    if v==0:
        print("ici")
        x=0
        y=0
    else: 
        if choix_angle==1:
            x=1
            y=0
        if choix_angle==2:
            x=-1
            y=0
        if choix_angle==3:
            x=0
            y=1
        if choix_angle==4:
            x=0
            y=-1
    return([x,y])

Fonction simulations.

In [14]:
import random
def overall():
    xcible=5
    ycible=5
    lim_x=[0,19]
    lim_y=[0,19]
    destination=[xcible,ycible]
    Liste_realisations=[]
    table_cout=np.random.multivariate_normal(size=20,mean=[-5]*20,cov=np.eye(20))
    goal_x=5
    goal_y=5
    for J in range(1000):
        T=np.random.choice([20,50,100])
        Table_nom=[J]*T
        Recompenses=[]
        Actions=[]
        Nouvel_etat=[]
        Positions_t=[]
        x_si=np.random.choice(range(20))
        y_si=np.random.choice(range(20))
        situation_initiale=(x_si,y_si)
        for j in range(T):
            vitesse=np.random.choice([0,1,2,3])
            if situation_initiale[0]==goal_x and situation_initiale[1]==goal_y:
                recompense=1
            else:
                recompense=-1
            if vitesse!=0:
                choix_angle=random.choice([1,2,3,4])
                changement_pos=fonction_g_discrete(choix_angle=choix_angle,v=vitesse)
                situation_nouvelle=np.add(changement_pos,np.array(situation_initiale))
                if situation_nouvelle[0]<lim_x[0] or situation_nouvelle[0]>lim_x[1]:
                    recompense=+-20*vitesse
                    situation_nouvelle=situation_initiale
                elif situation_nouvelle[1]<lim_y[0] or situation_nouvelle[1]>lim_y[1]:
                    recompense=+-20*vitesse
                    situation_nouvelle=situation_initiale
                elif situation_nouvelle[0]==goal_x and situation_nouvelle[1]==goal_y:
                    recompense=1
                else:
                    recompense=+table_cout[situation_nouvelle[0],situation_nouvelle[1]]/vitesse
            else:
                situation_nouvelle=situation_initiale
                choix_angle=random.choice([1,2,3,4])
                if situation_initiale[0]!=goal_x or situation_initiale[1]!=goal_y:
                    recompense+=-5
            Recompenses.append(recompense)
            Actions.append((vitesse,choix_angle))
            Positions_t.append(tuple(situation_initiale))
            Nouvel_etat.append(tuple(situation_nouvelle))
            situation_initiale=tuple(situation_nouvelle)
        dico=pd.DataFrame({"recompense":Recompenses,"actions":Actions,"etat_t":Positions_t,"etat_suivant":Nouvel_etat,"Indice_simul":Table_nom})
        Liste_realisations.append(dico)
    return(pd.concat(Liste_realisations))

In [15]:
np.random.seed(133)
R=overall()

In [16]:
R = R.rename(columns={'recompense': 'r_t', 'actions': 'a_t',"Indice_simul":"id_simulation","etat_t":"s_t","etat_suivant":"s_t_p_1"})
R

          r_t     a_t      s_t  s_t_p_1  id_simulation
0   -2.022769  (3, 4)   (1, 1)   (1, 0)              0
1   -3.014403  (2, 2)   (1, 0)   (0, 0)              0
2  -20.000000  (1, 4)   (0, 0)   (0, 0)              0
3   -5.223606  (1, 3)   (0, 0)   (0, 1)              0
4   -2.694863  (2, 1)   (0, 1)   (1, 1)              0
..        ...     ...      ...      ...            ...
15  -6.039787  (1, 2)  (2, 17)  (1, 17)            999
16  -3.358129  (2, 4)  (1, 17)  (1, 16)            999
17  -3.019893  (2, 3)  (1, 16)  (1, 17)            999
18  -6.000000  (0, 3)  (1, 17)  (1, 17)            999
19  -6.716258  (1, 4)  (1, 17)  (1, 16)            999

[56420 rows x 5 columns]

Enregistrement des simulations.

In [17]:
R.dtypes

r_t              float64
a_t               object
s_t               object
s_t_p_1           object
id_simulation      int64
dtype: object

In [18]:
R.to_csv('Resultats.csv', index=False)